aside {
    display: flex;
    flex-direction: column;
    // width: 50px;
    overflow: hidden;
    min-height: 100vh;
    // padding: 1rem;
    background-color: #6c757d;
    transition: 0.2s ease-in-out;
    .flex {
      flex: 1 1 0%;
    }
  
    .logo {
      margin-bottom: 10px;
      padding: 1rem;
  
      img {
        width: 35px;
        margin-right: 5px;
      }
  
      .titleWeb {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        position: absolute;
        font-size: 20px;
        color: var(--purple);
        font-weight: bold;
      }
    }
  
    .menu {

      .button {
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
        .material-icons {
          font-size: 25px;
          color: var(--dark);
          transition: 0.2s ease-in-out;
        }
  
        .text {
          font-weight: bold;    
          font-size: 20px;   
        }
  
        &:hover {
          // background-color: #c2b4b463;
          .material-icons,
          .text {
            color: #fff;
            font-weight: bold;
          }
        }
  
        &.router-link-exact-active {
          background-color: #c2b4b463;
          border-right: 5px solid var(--purple);
          .material-icons {
            color: var(--purple);
          }
  
          .text {
            color: var(--dark);
            font-weight: bold;
          }
        }
      }
    }
  
    .footer {
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
  
      p {
        font-size: 0.875rem;
        color: var(--grey);
      }
    }
  
    &.is-expanded {
      width: var(--sidebar-width);
      .menu-toggle-wrap {
        top: -55px;
        .menu-toggle {
          transform: rotate(-180deg);
        }
      }
  
      h3,
      .button .text {
        opacity: 1;
      }
  
      .button .text .numberOrders {
        opacity: 1;
      }
 
      
      .titleWeb {
        opacity: 1;
        color: #07f4c4;
      }
  
      .button {
        .material-icons {
          width: 25px;
          height: 30px;
        }
        .text {
          margin-left: 16px;
        }
      }
  
      .footer {
        opacity: 0;
      }
    }
  
    // @media (max-width: 1024px) {
    //     position: absolute;
    //     z-index: 99;
    // }
  }